<!-- your html code here -->
<!-- your html code here -->
<H1>Portafolio</H1>
<p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Asperiores rem fugit blanditiis ipsum, cum consequatur est eum nostrum ab? Necessitatibus, similique voluptatem. Odit omnis ex dolores ab. Nulla, inventore consectetur.</p>
<div style="border: 4px solid red;">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <div class="card" style="width: 18rem;">
                    <img src="https://th.bing.com/th/id/OIP.q7Xi86if5fGHHZ4TVVpM-wHaEy?pid=ImgDet&w=236.8421052631579&h=180&c=7" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h2 style="color: blue;">Project Name</h2>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card" style="width: 18rem;">
                    <img src="https://th.bing.com/th/id/OIP.q7Xi86if5fGHHZ4TVVpM-wHaEy?pid=ImgDet&w=236.8421052631579&h=180&c=7" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h2 style="color: blue;">Project Name</h2>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card" style="width: 18rem;">
                    <img src="https://th.bing.com/th/id/OIP.q7Xi86if5fGHHZ4TVVpM-wHaEy?pid=ImgDet&w=236.8421052631579&h=180&c=7" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h2 style="color: blue;">Project Name</h2> 
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    </div>
            </div>
                </div>
                <div class="text">
                    <p style="color:red; text-align: right;">Portafolio.html</p>

            </div>
        </div>
    </div>
</div>